/* mobile */
html {
  font-size: 18px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 20px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 22px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 24px;
  }
}

.App {
  text-align: center;
  background: #FAF9F6;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
  font-family: 'Josefin Sans';
}

.header {
  background-color: rgb(250, 249, 246, 0.7);
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  font-family: 'Josefin Sans';
  color: #434343;
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(5px);
  
}
h1{
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 0.3rem;
}
p{
  text-align: left;
  font-size: 0.7rem;
}

.nav{
 font-size: 0.8rem;
 display:flex;
 align-items: center;
 justify-content: space-between;
 font-weight: normal;
}

.work{
  margin: 0.8rem;
}

.about{
  margin: 0.8rem;
}

.resume{
  margin: 0.8rem;
}

.lpcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.latest-project{
  background: #d6d6d6;
  width: 74vw;
  height: 80vh;
  border-radius: 0.65rem;

}

.projects1{
  display: flex;
  align-items: space-around;
  justify-content: center;
  flex-direction: row;
  margin: 2rem;

}

.projects2{
  display: flex;
  align-items: space-around;
  justify-content: center;
  flex-direction: row;
  margin: 0 2rem 2rem 2rem;

}

.project1{
  background: #d6d6d6;
  text-align: center;
  width: 35vw;
  height: 50vh;
  border-radius: 0.6rem;
  margin-right: 2rem

}

.project2{
  background: #d6d6d6;
  width: 35vw;
  height: 50vh;
  border-radius: 0.6rem;

}

.project3{
  background: #d6d6d6;
  width: 35vw;
  height: 50vh;
  border-radius: 0.6rem;
  margin-right: 2rem;

}

.project4{
  background: #d6d6d6;
  width: 35vw;
  height: 50vh;
  border-radius: 0.6rem;
}

a{
  color: #434343;
  text-decoration: none;
}

a:hover{
  color: #858585;
  text-decoration: none;
}

.main{
  margin-top: 10rem;
}